.container{
    background-color: rgb(51, 51, 232);
    color: white;
    font-family: sans-serif;
    padding-top: 40px;
    margin-bottom: 80px;
}
img{
    margin-left: 130px ;
}
h1{
    margin-left: 200px;
    margin-top: -45px;
}
.nav{
    padding: 2px;
    position: sticky;
    width: 100%;
}
ul {
    list-style-type: none;
    margin-top: -75px;
    position: sticky;
    margin-left: 400px;
}
li {
    float: left;
  } 
li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 25px 20px;
}
li a:hover{
    text-decoration:  1px underline black;
    text-underline-offset: 5px;
    color: black;

}
.menubar{
    margin-top: 23px;
    cursor: pointer;
}
.container-2{
    margin-left: 130px;
}
.header{
    font-size: 50px;
    padding-top: 50px;   
}
p{
    line-height: 1.4;
    margin-top: -30px;
}
.start{
    padding: 15px 40px;
    color: blue;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    border-style: none;
}
.start:hover{
    background-color: rgb(58, 58, 214);
    opacity: 0.8;
    color: black;

}
.playbutton{
    margin-left: 20px;
    width: 50px;
    height: 40px;
    transform: translateY(15px);
}
.text{
    margin-left: 260px;
    transform: translateY(-2px);
}
.girl-pic{
    margin-left: 640px;
    margin-top: -500px;
    height: 330px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.7;
    transform: translateY(-20px);
}
.girl-pic:hover{
    opacity: 0.9;
}